.Election {
    display: grid;
    justify-content: center;
    grid-gap: 0.5rem;
}

.Election .elements {
    display: grid;
    justify-content: left;
    grid-gap: 0.2rem;
    grid-template-columns: auto 1fr;
}

.Election .col-span-2 {
    font-size: 50%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.Election .option button {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}