.Tables {
    display: grid;
    justify-content: center;
    grid-gap: 0.5rem;
}

.Tables td, th {
    padding: 0.3rem;
}

.Tables .tab {
    border-left: 1px solid darkgrey;
    padding: 0.3rem;
}

.Tables .tab:first-child {
    border-left: none;
    padding: 0.3rem;
}

.Tables a {
    padding: 0.3rem;
}