.DebugTables {
    display: grid;
    justify-content: left;
    grid-gap: 0.5rem;
}

.DebugTables td, th {
    padding: 0.3rem;
}

.DebugTables .tab {
    border-left: 1px solid darkgrey;
    padding: 0.3rem;
}

.DebugTables .tab:first-child {
    border-left: none;
    padding: 0.3rem;
}

.DebugTables a {
    padding: 0.3rem;
}
