.Ballot {
    display: grid;
    justify-content: center;
    grid-gap: 0.5rem;
}

.Ballot .elements {
    display: grid;
    justify-content: left;
    grid-gap: 0.2rem;
    grid-template-columns: auto;
}
