.Events h1 {
    padding-bottom: 0.3em;
}

.Events td, th {
    padding: 0.3rem;
}

.Events .tab {
    border-left: 1px solid darkgrey;
    padding: 0.3rem;
}

.Events .tab:first-child {
    border-left: none;
    padding: 0.3rem;
}

.Events a {
    padding: 0.3rem;
    display: inline-block;
}