.Tally {
    display: grid;
    justify-content: center;
    grid-gap: 0.5rem;
}

.Tally .elements {
    display: grid;
    justify-content: left;
    grid-gap: 0.2rem;
    grid-template-columns: auto 1fr;
}

.Tally td, th {
    padding: 0.2rem;
}

.Tally table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}
