.App {
    --inactive1: lightgray;
    --inactive2: darkgray;
    --inactive3: black;
    --active1: white;
    --active2: dodgerblue;
    --active3: blue;

    --background: var(--inactive1);
    --border: var(--inactive2);

    --action-button-border: var(--inactive2);
    --action-button-background: var(--active2);
    --action-button-foreground: var(--active3);
    --action-button-background-hover: var(--active2);
    --action-button-foreground-hover: var(--active1);
    --action-disabled-button-foreground: var(--inactive2);
    --action-disabled-button-background: var(--inactive1);

    --navigate-text-background: var(--inactive1);
    --navigate-text-foreground: var(--active3);
    --navigate-text-background-hover: var(--active2);
    --navigate-text-foreground-hover: var(--active1);

    --selectable-text-background: var(--inactive1);
    --selectable-text-foreground: var(--active3);
    --selectable-text-background-hover: var(--active2);
    --selectable-text-foreground-hover: var(--active1);

    --selected-text-background: var(--active2);
    --selected-text-foreground: var(--active3);
    --selected-text-background-hover: var(--active2);
    --selected-text-foreground-hover: var(--active1);

    --toggle-button-border: var(--inactive2);
    --toggle-selected-button-foreground: var(--active3);
    --toggle-selected-button-background: var(--active2);
    --toggle-not-selected-button-foreground: var(--active3);
    --toggle-not-selected-button-background: var(--inactive1);
    --toggle-not-selected-button-hover-foreground: var(--active1);
    --toggle-selected-disabled-button-foreground: var(--inactive1);
    --toggle-selected-disabled-button-background: var(--inactive2);
    --toggle-not-selected-disabled-button-foreground: var(--inactive2);
    --toggle-not-selected-disabled-button-background: var(--inactive1);

    --edit-background: var(--active1);
    --edit-foreground: var(--inactive3);

    --static-text-background: var(--inactive1);
    --static-text-foreground: var(--inactive3);

    --subtle-text-foreground: var(--inactive3);
    --divider: var(--inactive2);
}

.App {
    margin: 0.5rem;
    color: var(--static-text-foreground);
    background-color: var(--static-text-background);
}

.App h1 {
    font-size: 2rem;
    font-weight: bold;
}

.App input {
    background-color: var(--edit-background);
    color: var(--edit-foreground);
    border: 1px solid var(--border);
}

.App input:focus, button:focus, a:focus, select:focus {
    outline-style: solid;
}


.App td, th {
    border-collapse: collapse;
    border: 1px solid var(--border);
}

.App th {
    font-weight: bold;
}

.App h2 {
    font-weight: bold;
}

.App button {
    border-radius: 0.3rem;
    border-style: none;
    color: var(--action-button-foreground);
    background-color: var(--action-button-background);
    padding: 0.3rem;
}

.App button[type=submit] {
    border-radius: 0.7rem;
    border: 1px solid var(--action-button-border);
    color: var(--action-button-foreground);
    background-color: var(--action-button-background);
    padding: 0.3rem;
}

.App button[type=submit]:disabled {
    color: var(--action-disabled-button-foreground);
    background-color: var(--action-disabled-button-background);
    padding: 0.3rem;
}

.App button:hover {
    color: var(--action-button-foreground-hover);
    background-color: var(--action-button-background-hover);
}

.App button.selected {
    border: 1px solid var(--toggle-button-border);
    color: var(--toggle-selected-button-foreground);
    background-color: var(--toggle-selected-button-background);
    padding: 0.3rem;
}

.App button.selected:hover {
    color: var(--active1);
}

.App button.not-selected {
    border: 1px solid var(--toggle-button-border);
    color: var(--toggle-not-selected-button-foreground);
    background-color: var(--toggle-not-selected-button-background);
    padding: 0.3rem;
}

.App button.not-selected:hover {
    color: var(--toggle-not-selected-button-hover-foreground);
}

.App button.selected:disabled {
    border: 1px solid var(--toggle-button-border);
    color: var(--toggle-selected-disabled-button-foreground);
    background-color: var(--toggle-selected-disabled-button-background);
    padding: 0.3rem;
}

.App button.not-selected:disabled {
    border: 1px solid var(--toggle-button-border);
    color: var(--toggle-not-selected-disabled-button-foreground);
    background-color: var(--toggle-not-selected-disabled-button-background);
    padding: 0.3rem;
}

.App a {
    text-decoration: none;
    color: var(--navigate-text-foreground);
    background-color: var(--navigate-text-background);
}

.App a:hover {
    color: var(--navigate-text-foreground-hover);
    background-color: var(--navigate-text-background-hover);
}

.App select {
    color: var(--selectable-text-foreground);
    background-color: var(--selectable-text-background);
}

.App select:hover {
    color: var(--selectable-text-foreground-hover);
    background-color: var(--selectable-text-background-hover);
}

.App .tab {
    color: var(--selectable-text-foreground);
    background-color: var(--selectable-text-background);
}

.App .tab.selected {
    color: var(--selected-text-foreground);
    background-color: var(--selected-text-background);
}

.App .tab:hover {
    color: var(--selectable-text-foreground-hover);
    background-color: var(--selectable-text-background-hover);
}

.App pre {
    white-space: pre-wrap;
}

.App fieldset {
    border: 1px solid var(--border);
    padding: 0.5rem;
}

.App .subtle-text {
    font-size: 50%;
    color: var(--subtle-text-foreground)
}

.App hr {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--divider);
    width: 100%;
}

.App li {
    border-radius: 0.3rem;
}

.App li.selected {
    border: 1px solid var(--toggle-button-border);
    color: var(--toggle-selected-button-foreground);
    background-color: var(--toggle-selected-button-background);
    padding: 0.3rem;
}

.App li.selected:hover {
    color: var(--active1);
}

.App li.not-selected {
    border: 1px solid var(--toggle-button-border);
    color: var(--toggle-not-selected-button-foreground);
    background-color: var(--toggle-not-selected-button-background);
    padding: 0.3rem;
}

.App li.not-selected:hover {
    color: var(--toggle-not-selected-button-hover-foreground);
}

.App .center-page {
    display: grid;
    justify-content: center;
    grid-gap: 0.5rem;
}

.App .single-column {
    display: grid;
    justify-content: left;
    grid-gap: 0.2rem;
    grid-template-columns: auto;
}

.App .flex {
    display: flex;
    flex-wrap: wrap;
}
