.App {
    --background: lightgray;
    --highlight: white;
    --highlight-background: dodgerblue;
    --button-background: dodgerblue;
    --border: darkgrey;
    --clickable-text: blue;
}

.App {
    margin: 0.5rem;
    background-color: var(--background);
}

.App input, select {
    background-color: var(--background);
    border: 1px solid var(--border);
}

.App input:focus, button:focus, a:focus, select:focus {
    outline-style: solid;
}

.App h1 {
    font-size: 2rem;
    font-weight: bold;
}

.App td, th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0.5rem;
}

.App button {
    border-radius: 0.7rem;
    border-style: none;
    border-color: var(--border);
    background-color: var(--button-background);
    color: blue;
    padding: 0.3rem;
}

.App button:hover {
    color: var(--highlight);
}

.App a, select {
    text-decoration: none;
    color: var(--clickable-text);
    width: 100%;
}

.App a:hover {
    color: var(--highlight);
    background-color: var(--highlight-background);
}
