.App {
    --background: lightgray;
    --border: darkgrey;

    --action-button-background: dodgerblue;
    --action-button-foreground: blue;
    --action-button-background-hover: dodgerblue;
    --action-button-foreground-hover: white;

    --navigate-text-background: lightgray;
    --navigate-text-foreground: blue;
    --navigate-text-background-hover: dodgerblue;
    --navigate-text-foreground-hover: white;

    --selectable-text-background: lightgray;
    --selectable-text-foreground: blue;
    --selectable-text-background-hover: dodgerblue;
    --selectable-text-foreground-hover: white;

    --selected-text-background: dodgerblue;
    --selected-text-foreground: blue;
    --selected-text-background-hover: dodgerblue;
    --selected-text-foreground-hover: white;

    --selected-button-foreground: blue;
    --selected-button-background: dodgerblue;
    --not-selected-button-foreground: darkgrey;
    --not-selected-button-background: lightgray;
    --selectable-button-border: darkgrey;
    --disabled-button-foreground: darkgrey;
    --disabled-button-background: lightgray;

    --edit-background: white;
    --edit-foreground: black;

    --static-text-background: lightgray;
    --static-text-foreground: black;
}

.App {
    margin: 0.5rem;
    color: var(--static-text-foreground);
    background-color: var(--static-text-background);
}

.App input {
    background-color: var(--edit-background);
    color: var(--edit-foreground);
    border: 1px solid var(--border);
}

.App input:focus, button:focus, a:focus, select:focus {
    outline-style: solid;
}

.App h1 {
    font-size: 2rem;
    font-weight: bold;
}

.App td, th {
    border-collapse: collapse;
    border: 1px solid var(--border);
}

.App th {
    font-weight: bold;
}

.App button {
    border-radius: 0.7rem;
    border-style: none;
    color: var(--action-button-foreground);
    background-color: var(--action-button-background);
    padding: 0.3rem;
}

.App button:hover {
    color: var(--action-button-foreground-hover);
    background-color: var(--action-button-background-hover);
}

.App button.selected {
    border-radius: 0.3rem;
    border: 1px solid var(--selectable-button-border);
    color: var(--selected-button-foreground);
    background-color: var(--selected-button-background);
    padding: 0.3rem;
}

.App button.not-selected {
    border-radius: 0.4rem;
    border: 1px solid var(--selectable-button-border);
    color: var(--not-selected-button-foreground);
    background-color: var(--not-selected-button-background);
    padding: 0.3rem;
}

.App button:disabled {
    border: 1px solid var(--selectable-button-border);
    color: var(--disabled-button-foreground);
    background-color: var(--disabled-button-background);
    padding: 0.3rem;
}

.App a {
    text-decoration: none;
    color: var(--navigate-text-foreground);
    background-color: var(--navigate-text-background);
}

.App a:hover {
    color: var(--navigate-text-foreground-hover);
    background-color: var(--navigate-text-background-hover);
}

.App select {
    color: var(--selectable-text-foreground);
    background-color: var(--selectable-text-background);
}

.App select:hover {
    color: var(--selectable-text-foreground-hover);
    background-color: var(--selectable-text-background-hover);
}

.App .tab {
    color: var(--selectable-text-foreground);
    background-color: var(--selectable-text-background);
}

.App .tab.selected {
    color: var(--selected-text-foreground);
    background-color: var(--selected-text-background);
}

.App .tab:hover {
    color: var(--selectable-text-foreground-hover);
    background-color: var(--selectable-text-background-hover);
}

.App pre {
    white-space: pre-wrap;
}